In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/cnavarreteliz/Downloads/laposte_hexasmal.csv", delimiter=";")
df

,Code_commune_INSEE,Nom_commune,Code_postal,Ligne_5,Libellé_d_acheminement,coordonnees_gps
0,01009,ANDERT ET CONDON,1300,NaN,ANDERT ET CONDON,"45.7873565333,5.65788307924"
1,01012,ARANC,1110,NaN,ARANC,"46.0015344029,5.51130637511"
2,01023,ASNIERES SUR SAONE,1570,NaN,ASNIERES SUR SAONE,"46.3857281418,4.88387478623"
3,01029,BEAUPONT,1270,NaN,BEAUPONT,"46.4288360203,5.26003405676"
4,01032,BELIGNEUX,1360,NaN,BELIGNEUX,"45.8591464826,5.13989505865"
...,...,...,...,...,...,...
39188,98824,POUEBO,98824,NaN,POUEBO,NaN
39189,98825,POUEMBOUT,98825,NaN,POUEMBOUT,NaN
39190,98828,SARRAMEA,98882,NaN,SARRAMEA,NaN
39191,98830,TOUHO,98831,NaN,TOUHO,NaN
39192,98901,ILE DE CLIPPERTON,98799,NaN,ILE DE CLIPPERTON,NaN

In [5]:
df_filtered = df[["Code_postal", "Nom_commune"]]

In [10]:
df_filtered.rename(columns={"Code_postal": "id", "Nom_commune": "name"})\
    .to_json("postal_code.json", orient="records")