In [1]:
import numpy as np
import os
import pandas as pd
import simplejson as json
import tqdm
from datetime import datetime, timezone
from sqlalchemy import create_engine

In [3]:
!pip install psycopg2

Collecting psycopg2
  Using cached https://files.pythonhosted.org/packages/d1/1e/b450599a27b1809bccbd4e369f397cb18dc56b875778d961f9ae180b54b7/psycopg2-2.9.3.tar.gz
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.3-cp37-cp37m-macosx_10_9_x86_64.whl size=142238 sha256=dafc06086171c9690274d673bf5eb2d1ec4a83c3546be44af84a9cade68b408f
  Stored in directory: /Users/cnavarreteliz/Library/Caches/pip/wheels/53/80/aa/5e5d2f26d31822dd475a0b5bdb412800c30355647dc26e21a8
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3

In [2]:
# ENV_VAR = os.getenv("DATABASE_URL", None)
ENV_VAR = "postgresql://user_mp:v#?YERrN924ec^y+@localhost:5432/db_mon_programme"
engine = create_engine(ENV_VAR)

In [3]:
df1 = pd.read_sql_query("SELECT * FROM agree WHERE score > 0.7", con=engine)
df1.head()

,id,user_id,ip_hash,proposal_id,agree,universe,created_at,score,locale,option
0,1,3431d82f-a37d-4d47-bd9b-2aa222859c0e,cdec9be9683d469d264b56eea57ef9be179eabacf982a0...,22,1,2,2022-03-23 11:20:21.726368+00:00,0.9,fr,65
1,2,3431d82f-a37d-4d47-bd9b-2aa222859c0e,cdec9be9683d469d264b56eea57ef9be179eabacf982a0...,19,1,2,2022-03-23 11:20:21.726368+00:00,0.9,fr,150K
2,3,3431d82f-a37d-4d47-bd9b-2aa222859c0e,cdec9be9683d469d264b56eea57ef9be179eabacf982a0...,38,1,2,2022-03-23 11:20:27.274169+00:00,0.9,fr,None
3,4,3431d82f-a37d-4d47-bd9b-2aa222859c0e,cdec9be9683d469d264b56eea57ef9be179eabacf982a0...,71,0,2,2022-03-23 11:20:27.274169+00:00,0.9,fr,None
4,5,3431d82f-a37d-4d47-bd9b-2aa222859c0e,cdec9be9683d469d264b56eea57ef9be179eabacf982a0...,13,1,2,2022-03-23 11:23:51.145040+00:00,0.9,fr,30%

In [4]:
output = []
for user_id, tmp in df1.groupby("user_id"):

    tmp_agree = tmp[tmp["agree"] == 1]
    tmp_disagree = tmp[tmp["agree"] == 0]
    
    a = tmp_agree["proposal_id"].unique()
    b = tmp_disagree["proposal_id"].unique()
    
    df_tmp = pd.DataFrame([(i, j) for i in a for j in b], columns=["option_a", "option_b"])
    df_tmp["user_id"] = user_id
    output.append(df_tmp)
    
df_a = pd.concat(output).reset_index(drop=True)
df_a["selected"] = df_a["option_a"]

In [5]:
df_a

     option_a  option_b                               user_id  selected
0          22        71  3431d82f-a37d-4d47-bd9b-2aa222859c0e        22
1          22        22  3431d82f-a37d-4d47-bd9b-2aa222859c0e        22
2          22        19  3431d82f-a37d-4d47-bd9b-2aa222859c0e        22
3          22        27  3431d82f-a37d-4d47-bd9b-2aa222859c0e        22
4          22        35  3431d82f-a37d-4d47-bd9b-2aa222859c0e        22
..        ...       ...                                   ...       ...
746        76        92  cce7f474-ae07-4498-b131-04ec39d41286        76
747        76       125  cce7f474-ae07-4498-b131-04ec39d41286        76
748        76        74  cce7f474-ae07-4498-b131-04ec39d41286        76
749        76        75  cce7f474-ae07-4498-b131-04ec39d41286        76
750        76       109  cce7f474-ae07-4498-b131-04ec39d41286        76

[751 rows x 4 columns]

In [17]:
df2 = pd.read_sql_query("SELECT * FROM rank", con=engine)
df2 = df2[df2["rank"].str.contains(">")]
df2.head()

,id,user_id,ip_hash,rank,updated,universe,created_at,score,locale
0,1,352a601c-3a67-4ada-986b-b9728499260a,cdec9be9683d469d264b56eea57ef9be179eabacf982a0...,100>112>52,1,3,2022-03-18 10:42:53.165675+00:00,0.9,fr
1,2,352a601c-3a67-4ada-986b-b9728499260a,cdec9be9683d469d264b56eea57ef9be179eabacf982a0...,61>6,1,2,2022-03-18 10:54:28.186206+00:00,0.9,fr
2,3,352a601c-3a67-4ada-986b-b9728499260a,cdec9be9683d469d264b56eea57ef9be179eabacf982a0...,65>61,1,2,2022-03-18 11:05:01.043844+00:00,0.9,fr
3,4,352a601c-3a67-4ada-986b-b9728499260a,cdec9be9683d469d264b56eea57ef9be179eabacf982a0...,61>64,1,2,2022-03-18 11:06:05.137688+00:00,0.9,fr
4,5,352a601c-3a67-4ada-986b-b9728499260a,cdec9be9683d469d264b56eea57ef9be179eabacf982a0...,11>62,1,2,2022-03-18 11:10:18.676135+00:00,0.9,fr

In [18]:
from itertools import combinations

output = []
for row in df2.itertuples():
    df_tmp = pd.DataFrame(list(combinations(row.rank.split(">"), 2)), columns=["option_a", "option_b"])
    df_tmp["user_id"] = row.user_id
    output.append(df_tmp)
    
df_b = pd.concat(output).reset_index(drop=True)
df_b["selected"] = df_b["option_a"]
df_b.head()

  option_a option_b                               user_id selected
0      100      112  352a601c-3a67-4ada-986b-b9728499260a      100
1      100       52  352a601c-3a67-4ada-986b-b9728499260a      100
2      112       52  352a601c-3a67-4ada-986b-b9728499260a      112
3       61        6  352a601c-3a67-4ada-986b-b9728499260a       61
4       65       61  352a601c-3a67-4ada-986b-b9728499260a       65

In [28]:
df = pd.concat([df_a, df_b]).reset_index(drop=True)
df = df[df["option_b"] != ""]
df["id"] = range(1, df.shape[0] + 1)

In [29]:
df["option_a_sorted"] = df[["option_a", "option_b"]].min(axis=1).astype(int)
df["option_b_sorted"] = df[["option_a", "option_b"]].max(axis=1).astype(int)
df["card_id"] = df["option_a_sorted"].astype(str) + "-" + df["option_b_sorted"].astype(str)

a = df[["option_a", "option_b", "selected"]].values
df["option_source"] = np.where(a[:, 1] == a[:, 2], a[:, 0], a[:, 1])
df["option_target"] = np.where(a[:, 0] == a[:, 2], a[:, 0], a[:, 1])

In [30]:
def win_rate(df):
    dd = df.groupby(["option_source", "option_target"]).agg({"user_id": "count"}).reset_index()
    m = dd.pivot(index="option_source", columns="option_target", values="user_id").fillna(0)
    ids = set(df["option_source"]) | set(df["option_target"])
    m = m.reindex(ids)
    m = m.reindex(ids, axis=1)
    m = m.fillna(0)

    r = m + m.T
    win_rate = m.sum() / r.sum()

    return pd.DataFrame(win_rate).reset_index().rename(columns={"option_target": "id", 0: "mean"})

def divisiveness(data, full=False):
    dd = data[(data["option_a"] == data["selected"]) | (data["option_b"] == data["selected"])]\
      .groupby(["card_id", "selected", "user_id"])\
      .agg({"id": "count"})

    # Generates list of users associated with each proposal pair
    a = []
    _data = data.copy().set_index("user_id")

    for idx, df_select in tqdm.tqdm(dd.groupby(level=[0, 1]), position=0, leave=True):
        card_id = idx[0]
        selected = idx[1]
        users = [item[2] for item in df_select.index.to_numpy()]
        # print(card_id, selected, users)

        data_temp = _data.loc[users]
        df_bs = win_rate(data_temp.reset_index()).dropna()
        df_bs["card_id"] = card_id
        df_bs["selected"] = selected

        a.append(df_bs)
        del users, df_bs, data_temp

    df_rank_bs = pd.concat(a)
    # df_rank_bs = df_rank_bs.replace([np.inf, -np.inf], np.nan).dropna().sort_values("mean")

    df_cards = df_rank_bs.groupby(["card_id", "selected", "id"]).agg({"mean": "mean"}).reset_index()
    df_cards["option_b_sorted"] = df_cards["card_id"].str.split("-").apply(lambda x: x[1])
    df_cards["option_a_sorted"] = df_cards["card_id"].str.split("-").apply(lambda x: x[0])
    df_cards["group"] = df_cards["option_a_sorted"].astype(str) == df_cards["selected"].astype(str)

    df_cards["group"] = df_cards["group"].replace({True: "A", False: "B"})

    df_a = df_cards[df_cards["group"] == "A"]
    df_b = df_cards[df_cards["group"] == "B"]

    df_div = pd.merge(df_a, df_b, 
                      on=["card_id", "id", "option_a_sorted", "option_b_sorted"], 
                      suffixes=("_a", "_b"))

    df_div = df_div[["id", "card_id", "mean_a", "mean_b", "selected_a", "selected_b"]]#.replace([np.inf, -np.inf], np.nan).dropna()

    df_div["diff_abs"] = abs(df_div["mean_a"] - df_div["mean_b"])

    if full:
        df_divisiveness = df_div.groupby("id").agg({"diff_abs": "mean"}).reset_index()\
            .rename(columns={"diff_abs": "divisiveness"})

        return df_divisiveness

    else:
        frag_a = df_div[["id", "selected_a", "diff_abs"]].rename(columns={"selected_a": "selected"})
        frag_b = df_div[["id", "selected_b", "diff_abs"]].rename(columns={"selected_b": "selected"})
        frag_c = pd.concat([frag_a, frag_b])
        frag_c = frag_c[frag_c["id"] == frag_c["selected"]]
        frag_c = frag_c.groupby("id").agg({"diff_abs": "mean"}).reset_index()\
            .rename(columns={"diff_abs": "divisiveness"})
        
        return frag_c

In [31]:
df_agreement = win_rate(df)
df_disagreement = divisiveness(df)

100%|██████████| 879/879 [00:12<00:00, 70.12it/s]

In [34]:
df

,option_a,option_b,user_id,selected,id,option_a_sorted,option_b_sorted,card_id,option_source,option_target
0,22,71,3431d82f-a37d-4d47-bd9b-2aa222859c0e,22,1,22,71,22-71,71,22
1,22,22,3431d82f-a37d-4d47-bd9b-2aa222859c0e,22,2,22,22,22-22,22,22
2,22,19,3431d82f-a37d-4d47-bd9b-2aa222859c0e,22,3,19,22,19-22,19,22
3,22,27,3431d82f-a37d-4d47-bd9b-2aa222859c0e,22,4,22,27,22-27,27,22
4,22,35,3431d82f-a37d-4d47-bd9b-2aa222859c0e,22,5,22,35,22-35,35,22
...,...,...,...,...,...,...,...,...,...,...
931,76,75,3431d82f-a37d-4d47-bd9b-2aa222859c0e,76,931,75,76,75-76,75,76
932,76,2,3431d82f-a37d-4d47-bd9b-2aa222859c0e,76,932,2,76,2-76,2,76
933,77,75,3431d82f-a37d-4d47-bd9b-2aa222859c0e,77,933,75,77,75-77,75,77
934,77,2,3431d82f-a37d-4d47-bd9b-2aa222859c0e,77,934,2,77,2-77,2,77
935,75,2,3431d82f-a37d-4d47-bd9b-2aa222859c0e,75,935,2,75,2-75,2,75

In [39]:
df_agreement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      142 non-null    object
 1   mean    142 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.3+ KB

In [38]:
df_disagreement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            26 non-null     object
 1   divisiveness  26 non-null     float64
dtypes: float64(1), object(1)
memory usage: 544.0+ bytes

In [41]:
df_count

     id  count
0     1     57
1     2     57
2     3     17
3     4     17
4     5     17
..   ..    ...
137  92      2
138  95      1
139  96      3
140  97      4
141  98      7

[142 rows x 2 columns]

In [40]:
output = pd.merge(df_agreement, df_disagreement, on="id", how="outer")
output = output.rename(columns={"mean": "agreement"})

df_count = pd.concat([pd.Series(df["option_a"].values), pd.Series(df["option_b"].values)])
df_count = pd.DataFrame(df_count, columns=["id"]).reset_index().rename(columns={"index": "count"})
df_count = df_count.groupby("id").agg({"count": "count"}).reset_index()
output = pd.merge(output, df_count, on="id")

response = output.to_dict("records")
data = {
    "data": response,
    "datetime": datetime.now().strftime("%Y-%m-%d %H:%M:%S"),
    "count": df.shape[0],
    "participants": len(df["user_id"].unique())
}

In [95]:
location = os.path.dirname(os.path.abspath("__file__"))
location = location.replace("scripts", "public/results.json")
with open(location, "w", encoding="utf-8") as f:
    json.dump(data, f, ignore_nan=True)